/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-testimonial-block {

	blockquote {
		border-left: solid 8px #ececec;
		margin: 20px 0;
		padding-left: 20px;
		font-size: 1.5em;
	}

	p {
		font-size: 1em;
		margin: 0;
		line-height: 1;
	}

	small {
		margin: 0;
		font-style: italic;
		font-size: 0.75em;
	}
}
